<!DOCTYPE html>
<html>
    <head>
        <link rel=stylesheet type="text/css" href="{{ url_for('static', filename = 'css/bootstrap.css') }}" />
    </head>
    <body>
        {% include 'menu.html' %}
        
        {% block page_content %}{% endblock %}
        
        {% include 'footer.html' %}

        <script src="{{ url_for('static', filename = 'js/bootstrap.bundle.min.js') }}"></script>
    </body>
</html>
