<div class="border-bottom">
    <img class="py-2" width="32" src="../static/assets/gem.png"></img>
    <a class="px-4" href="{{ url_for('pages', page = 'home') }}">Home</a>
    <a class="px-4" href="{{ url_for('pages', page = 'anabelle') }}">Anabelle</a>
    <a class="px-4" href="{{ url_for('pages', page = 'claire') }}">claire</a>
    <a class="px-4" href="{{ url_for('pages', page = 'terrence') }}">Terrence</a>
    <a class="px-4" href="{{ url_for('pages', page = 'shaun') }}">Shaun</a>
</div>
